.navBar {
  position: relative;
  height: 50px;
  width: 320px;
  background-color: #84C0F7;
  margin: 0px auto;
}

.icon {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 10px;
  display: block;
  position: absolute;
}

.playerInfo {
  position: absolute;
  margin-top: 5px;
  margin-left: 120px
}

.name {
  margin: 0px
}

.team {
  margin: 0px
}