.h1 {
  margin: 0px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.icon {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.teamATable {
  position: absolute;
  margin-left: 50px;
}

.teamBTable {
  position: absolute;
  margin-left: 210px;
}