.h1 {
  margin: 0px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.icon {
  height: 100px;
  width: 100px;
}

.h3 {
  color: #F49A11;
  font-size: 20px;
}

.teamATable {
  position: absolute;
  margin-left: 50px;
  font-size: 25px;
}

.teamBTable {
  position: absolute;
  margin-left: 210px;
  font-size: 25px;
}

.teamA {
  color: #F49A11;
}

.teamB {
  color: #84C0F7
}