.rulesDiv {
  position: relative;
  height: 518px;
  width: 320px;
  background-color: #D8D8D8;
  margin: 0px auto
}

.h1 {
  margin: 0px
}

.p {
  text-align: justify;
  line-height: 1.4;
  margin: 0px 20px;
  font-size: 18px;
  font-family: "Baloo 2", Dosis, "IBM Plex Mono"
}

.buttonsFooter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -43px;
}

.lastButton {
  margin-right: 5px;
  background-color: #F49A11;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  color: white;
  font-size: 20px;
}

.nextButton {
  margin-left: 5px;
  background-color: #F49A11;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  color: white;
  font-size: 20px;
}

.homeButton {
  margin-top: 5px;
  background-color: #84C0F7;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px
}