.h3 {
  margin-top: 0px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono";
  font-size: 22px;
}

.h1 {
  font-family: Dosis, "Baloo 2", "IBM Plex Mono";
  margin: 10px;
  color: #F49A11
}

.createGameButton {
  margin-bottom: 20px;
  position: relative;
  background-color: #F49A11;
  border: none;
  border-radius: 4px;
  padding: 15px 32px;
  color: white;
  font-size: 20px;
}

.teamAInputDiv {
  position: absolute
}

.teamBInputDiv {
  position: absolute;
  margin-left: 160px;
}

.teamAInput {
  width: 75%

}

.teamBInput {
  width: 75%
}

.tableHeaders {
  margin-top: 50px;
}

.player {
  position: absolute;
  margin-left: 40px;
}

.team {
  position: absolute;
  margin-left: 250px;
}

.table {
  width: 90%;
  margin-top: 50px;
}