.timesUp {
  color: #F49A11;
  position: absolute;
  margin-top: 50px;
  margin-left: 80px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.h3 {
  position: absolute;
  margin-top: 140px;
  margin-left: 80px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.h2 {
  position: absolute;
  margin-top: 180px;
  margin-left: 120px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.teamAName {
  color: #F49A11;
  position: absolute;
  margin-top: 230px;
  margin-left: 10px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.teamBName {
  color: #84C0F7;
  position: absolute;
  margin-top: 230px;
  margin-left: 170px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.teamAScore {
  position: absolute;
  margin-top: 275px;
  margin-left: 60px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.teamBScore {
  position: absolute;
  margin-top: 275px;
  margin-left: 220px;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono"
}

.cardsLeft{
  font-family: Dosis, "Baloo 2", "IBM Plex Mono";
  position: absolute;
  margin-top: 335px;
  margin-left: 70px;
}

.cardNum{
  font-family: Dosis, "Baloo 2", "IBM Plex Mono";
  position: absolute;
  margin-top: 360px;
  margin-left: 130px;
}

.next{
  font-family: Dosis, "Baloo 2", "IBM Plex Mono";
  position: absolute;
  margin-top: 415px;
  margin-left: 90px;
}

.nextName{
  color: #84C0F7;
  font-family: Dosis, "Baloo 2", "IBM Plex Mono";
  position: absolute;
  margin-top: 445px;
  margin-left: 100px;
}